.ordering {
    padding-top: $base*25;
    padding-bottom: $base*13;

    &-description {
        margin-bottom: $base*15;
        flex-basis: $base*119;

        &-outer {
            @include flex-feH;
        }

        &__text {
            max-width: $base*93;
        }
    }

    // ITEMS
    &-items {
        position: relative;
        @include flex-centerH-centerV;

        &__img {
            width: $base*186;
            height: $base*227;
            object-fit: contain;
        }
    }

    &-list {
        &__item {
            position: absolute;
            padding: $base*5 $base*6;
            background-color: $black;
            @include roboto;
            @include border($border-radius-1, $grey-500);

            &:nth-of-type(1) {
                top: 35%;
                right: 65.5%;
                max-width: $base*65;
            }

            &:nth-of-type(2) {
                top: 18%;
                left: 51%;
                max-width: $base*65;
            }

            &:nth-of-type(3) {
                top: 75%;
                right: 56%;
            }

            &:nth-of-type(4) {
                top: 65%;
                left: 69%;
                max-width: $base*41;
            }
        }
    }

    // === MEDIA ===
    @media (max-width: $breakpoint-lg) {
        padding-top: $base*(25/2);
        padding-bottom: $base*(13/2);

        &-description {
            flex-basis: 100%;
            margin-bottom: $mobile-description-mb;

            &-outer {
                justify-content: normal;
            }
    
            &__text {
                max-width: 100%;
            }
        }

        &-items {    
            &__img {
                width: 80%;
                height: 80%;
            }
        }
    }
}