*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.slider-wrapper {
  position: relative;
}

.slider__list {
  position: relative;
  width: 800px;
  height: 400px;
  list-style: none;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  overflow: hidden;
}

.slider__item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.slider__item--active {
  z-index: 3;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.slider__item-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.slider-btn {
  padding: 5px;
  cursor: pointer;
}

.slider-btn + .slider-btn {
  margin-left: 10px;
}

.slider-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 10;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.slider__dot {
  display: block;
  width: 15px;
  height: 15px;
  background-color: rgba(229, 229, 229, 0.6);
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.slider__dot--active {
  background-color: #ffffff;
}

.slider__dot + .slider__dot {
  margin-left: 10px;
}
