// === FONTS ===
@mixin font-face($font-family, $url, $format, $weight, $style) {
    @font-face {
        font-family: "#{$font-family}";
        src: url('#{$url}.#{$format}') format("#{$format}");
        font-weight: #{$weight};
        font-style: $style;
        font-display: swap;
    }
}

@include font-face("Proxima Nova", "../fonts/ProximaNova/ProximaNova-Regular", "woff2", 400, normal);
@include font-face("Proxima Nova", "../fonts/ProximaNova/ProximaNova-Semibold", "woff2", 600, normal);
@include font-face("Proxima Nova", "../fonts/ProximaNova/ProximaNova-Bold", "woff2", 700, normal);
@include font-face("Raleway", "../fonts/Raleway/Raleway-Semibold", "woff2", 600, normal);
@include font-face("Raleway", "../fonts/Raleway/Raleway-Extrabold", "woff2", 800, normal);
@include font-face("Myriad Pro", "../fonts/MyriadPro/MyriadPro-Regular", "woff2", 400, normal);

@mixin proximanova { font-family: "Proxima Nova", sans-serif; }
@mixin raleway { font-family: "Raleway", sans-serif; }
@mixin myriadpro { font-family: "Myriad Pro", sans-serif; }
// === / FONTS ===